.category {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 10px;
  background-color: #fff;
  border: 2px solid #453a94;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:hover {
    background-color: #453a94;
    border: 2px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    span {
      color: #fff;
    }
  }
  span {
    color: #453a94;
    margin: 0;
    font-weight: 500;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
  }
}
.active {
  background-color: #453a94;
  border: 2px solid transparent;
  span {
    color: #fff;
  }
}