.main {
  position: relative;
  height: 600px;
  margin-bottom: 75px;
  img {
    width: 100%;
    position: absolute;
    height: 110%;
    object-fit: cover;
    object-position: center top;
    opacity: 0.9;
    border-radius: 20px;
    filter: brightness(70%);
  }
  h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
.content {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  bottom: -125px;
  height: 100%;
  max-width: 640px;
  padding: 0 20px;
  h3 {
    z-index: 1;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0 0 15px rgb(0 0 0 / 20%);
  }
  p {
    margin: 0 0 20px;
  }
  .contentButtons {
    display: flex;
    
    button {
      cursor: pointer;
      background: #ee3342;
      border: none;
      border-radius: 1.5rem;
      padding:12px 16px;
      font-size: 16px;
      font-weight: 600;
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
      }
    }
    button + button {
      background: linear-gradient(to right, #ee3342 0%, #453a94 100%);
      margin-left: 20px;
    }
  }
}

