.upcomingMovies {
  margin-top: 110px;
  h3 {
    font-size: 36px;
    font-weight: 500;
    color: #000;
  }
}
.movieCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
}
