.movieDescription {
  height: 100%;
  background-color: rgb(241, 225, 255);
  border-radius: 0 25px 25px 0;
  position: relative;
  img {
    filter: brightness(40%);
  }
  p,
  span {
    font-weight: 500;
    margin: 5px;
  }
  button {
    position: absolute;
    color: #ffffff;
    cursor: pointer;
    bottom: 20px;
    left: 20px;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(97, 97, 255);
    font-weight: bold;
    font-size: 16px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 5px 10px;
  z-index: 1000;
}
.movieTime {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgb(132, 132, 255);
  display: flex;
  justify-content: space-between;
  span {
    color: #fff;
  }
}

.selectedTickets {
  padding: 5px;
  color: #000;
  overflow-y: scroll;
  max-height: 200px;
  h3 {
    text-align: center;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
  }
  .ticketsDescription {
    display: flex;
    flex-direction: column;
  }
}
.totalPrice {
  position: absolute;
  color: #000;
  font-size: 16px;
  font-weight: 700 !important;
  bottom: 60px;
  right: 10px;
}
